<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/students">Estudantes</button>
    <button class="btn btn-secondary" routerLink="/students/update/{{student.id}}"> Editar</button>
    <button class="btn btn-secondary" (click)="onDeleteStudent()"> Apagar</button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Detalhes da Estudante
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Nome: </p>
                <h4>{{student.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Matrícula: </p>
                <h4>{{student.matriculation}}</h4>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Período: </p>
                <h4>{{student.period}}</h4>
            </div>
        </div>
    </div>
</div>