<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/students">Estudantes</button>
    <button *ngIf="studentID" type="button" class="btn btn-secondary"
            routerLink="/students/view/{{studentID}}">
        Detalhes
    </button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2>
            {{(studentID) ? 'Editar' : 'Adicionar'}} Estudante
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form [formGroup]="studentForm" (ngSubmit)="onSave()" id="demo-form2" data-parsley-validate
              class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="matriculation">
                    Matrícula
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="matriculation" id="matriculation"
                           required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Nome
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="name" id="name"
                           required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="period">
                    Período
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="period" id="period"
                           required="required">
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="submit" class="btn btn-secondary" value="Salvar" [disabled]="studentForm.invalid">
                </div>
            </div>

        </form>
    </div>
</div>