<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/courses">Cursos</button>
    <button *ngIf="courseID" type="button" class="btn btn-secondary" routerLink="/courses/view/{{courseID}}">
        Detalhes
    </button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2>
            {{(courseID) ? 'Editar' : 'Adicionar'}} Usuário
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form [formGroup]="courseForm" (ngSubmit)="onSave()" id="demo-form2" data-parsley-validate
              class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">
                    Código
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="code" id="code"
                           required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    Nome
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="name" id="name"
                           required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="period">
                    Períodos
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" class="form-control" formControlName="period" id="period"
                           required="required">
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="submit" class="btn btn-secondary" value="Salvar" [disabled]="courseForm.invalid">
                </div>
            </div>

        </form>
    </div>
</div>