<button type="button" class="btn btn-secondary" routerLink="create">Adicionar Curso</button>

<div class="x_panel">
    <div class="x_title">
        <h2>
            Cursos
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-secondary">Filtros</h4>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label"> Nome </label>
                        <input
                                type='text'
                                class="form-control"
                                placeholder=' Digite o nome do curso ...'
                        />
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="x_panel">
            <ngx-datatable
                    [rows]="courses"
                    [messages]="{emptyMessage:'Não há registros para exibição', totalMessage: 'total'}"
                    [sortType]="'multi'"
                    [limit]="10"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [rowHeight]="60"
                    [footerHeight]="50">

                <ngx-datatable-column name="Código">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.code}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nome">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.name}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Período">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.period}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Ações">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="btn-group">
                            <button routerLink="view/{{row.id}}" class="btn btn-default">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button routerLink="update/{{row.id}}" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                            </button>
                            <button (click)="onDeleteCourse(row.id)" class="btn btn-default">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>