<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/disciplines">Disciplinas</button>
    <button class="btn btn-secondary" routerLink="/disciplines/update/{{discipline.id}}"> Editar</button>
    <button class="btn btn-secondary" (click)="onDeleteDiscipline()"> Apagar</button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Detalhes da Disciplina
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Nome: </p>
                <h4>{{discipline.name}}</h4>
            </div>
        </div>
    </div>
</div>