<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/practices">Práticas</button>
    <button *ngIf="practiceID" type="button" class="btn btn-secondary"
            routerLink="/practices/view/{{practiceID}}">
        Detalhes
    </button>
</div>
<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2>
            {{(practiceID) ? 'Editar' : 'Adicionar'}} Disciplina
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form [formGroup]="practiceForm" (ngSubmit)="onSave()" id="demo-form2" data-parsley-validate
              class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="student_id">
                    Estudante
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ng-select [allowClear]="true"
                               [items]="students"
                               (data)="onRefreshValue($event)"
                               required="required">
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="local">
                    Disciplina
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ng-select [allowClear]="true"
                               [items]="disciplines"
                               (data)="onRefreshDisciplineValue($event)"
                               required="required">
                    </ng-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="local">
                    Local
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="local" id="local">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activity">
                    Atividades
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea rows="6" class="form-control" formControlName="activity" id="activity">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="observation">
                    Observações
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea rows="6" class="form-control" formControlName="observation" id="observation">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="started_at">
                    Início em
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <iq-datepicker formControlName="started_at" id="started_at"></iq-datepicker>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ended_at">
                    Término em
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <iq-datepicker formControlName="ended_at" id="ended_at"></iq-datepicker>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="schedule">
                    Horários
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea rows="6" class="form-control" formControlName="schedule" id="schedule">
                      </textarea>
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="submit" class="btn btn-secondary" value="Salvar" [disabled]="practiceForm.invalid">
                </div>
            </div>

        </form>
    </div>
</div>