<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/users">Usuários</button>
    <button *ngIf="userID" type="button" class="btn btn-secondary" routerLink="/users/view/{{userID}}">
        Detalhes
    </button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2>
            {{(userID) ? 'Editar' : 'Adicionar'}} Usuário
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form [formGroup]="userForm" (ngSubmit)="onSave()" id="demo-form2" data-parsley-validate
              class="form-horizontal form-label-left">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first_name">
                    Primeiro Nome
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="first_name" id="first_name"
                           required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">
                    Último Nome
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" formControlName="last_name" id="last_name"
                           required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                    Email<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="email" class="form-control" formControlName="email" id="email" required="required">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                    Senha
                    <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="password" formControlName="password" id="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_type">
                    Tipo de conta <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="user_type" class="form-control" formControlName="user_type" required="required">
                        <option value="1">Professor</option>
                        <option value="0">Administrador (Atenção)</option>
                    </select>
                </div>
            </div>
            <div [hidden]="!checkUser()">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="matriculation">
                        Matrícula <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" formControlName="matriculation" id="matriculation" [required]="checkUser()"
                               class="form-control">
                    </div>
                </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <input type="submit" class="btn btn-secondary" value="Salvar" [disabled]="userForm.invalid">
                </div>
            </div>

        </form>
    </div>
</div>