<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/users">Usuários</button>
    <button class="btn btn-secondary" routerLink="/users/update/{{user.id}}"> Editar</button>
    <button class="btn btn-secondary" (click)="onDeleteUser()"> Apagar</button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Detalhes da Usuário
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Nome: </p>
                <h4>{{user.first_name }} {{ user.last_name}}</h4>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Email: </p>
                <h4>{{user.email}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Tipo de Conta: </p>
                <h4>{{ auth.userTypes[user.user_type] }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="x_panel" *ngIf="user.user_type==1">
    <div class="x_title">
        <h2 class="text-secondary">
            Detalhes do Perfil de Professor
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Matrícula: </p>
                <h4>{{user.professor.matriculation }}</h4>
            </div>
        </div>
    </div>
</div>


<!--<div class="x_panel" *ngIf="user.user_type != 'administrator'">-->
<!--<div class="x_title">-->
<!--<h2>-->
<!--Adicionar unidade(s) à este usuário-->
<!--</h2>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="x_content">-->
<!--<div class="col-md-6">-->
<!--<select2 [data]="data" [width]="'100%'" [value]="value" (valueChanged)="changed($event)"-->
<!--[options]="{multiple:true}"></select2>-->
<!--</div>-->

<!--<div class="col-md-6">-->
<!--<button class="btn btn-secondary" (click)="addUnitToUser()"> Adicionar</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="x_panel" *ngIf="user.user_type != 'administrator'">-->
<!--<div class="x_title">-->
<!--<h2>-->
<!--Unidades do usuário-->
<!--</h2>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="x_content">-->
<!--<div class="col-md-3">-->
<!--<input-->
<!--type='text'-->
<!--class="form-control"-->
<!--placeholder=' Digite o nome da unidade ...'-->
<!--(keyup)='updateFilter($event)'-->
<!--/>-->
<!--</div>-->

<!--<br> <br> <br>-->

<!--<div class="x_panel">-->
<!--<ngx-datatable-->
<!--[rows]="units"-->
<!--[sortType]="'multi'"-->
<!--[limit]="10"-->
<!--[columnMode]="'force'"-->
<!--[headerHeight]="50"-->
<!--[rowHeight]="50"-->
<!--[footerHeight]="50">-->

<!--<ngx-datatable-column name="Nome">-->
<!--<ng-template let-row="row" ngx-datatable-cell-template>-->
<!--{{row.name }}-->
<!--</ng-template>-->
<!--</ngx-datatable-column>-->

<!--<ngx-datatable-column name="Valor Mínimo">-->
<!--<ng-template let-row="row" ngx-datatable-cell-template>-->
<!--{{row.min_value | currency:'BRL':true}}-->
<!--</ng-template>-->
<!--</ngx-datatable-column>-->

<!--<ngx-datatable-column name="Descrição">-->
<!--<ng-template let-row="row" ngx-datatable-cell-template>-->
<!--{{row.description | limitTo : 30}}-->
<!--</ng-template>-->
<!--</ngx-datatable-column>-->

<!--<ngx-datatable-column name="Ações">-->
<!--<ng-template let-row="row" ngx-datatable-cell-template>-->
<!--<div class="btn-group">-->
<!--<button (click)="remoteUnitFromUser(row)" class="btn btn-default">-->
<!--<i class="fa fa-trash-o"></i>-->
<!--</button>-->
<!--</div>-->
<!--</ng-template>-->
<!--</ngx-datatable-column>-->
<!--</ngx-datatable>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->