<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/courses">Cursos</button>
    <button class="btn btn-secondary" routerLink="/courses/update/{{course.id}}"> Editar</button>
    <button class="btn btn-secondary" (click)="onDeleteCourse()"> Apagar</button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Detalhes do Curso
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Código: </p>
                <h4>{{course.code }}</h4>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Nome: </p>
                <h4>{{course.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Períodos: </p>
                <h4>{{ course.period }}</h4>
            </div>
        </div>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Adicionar disciplina ao Curso
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-10">
                <ng-select [allowClear]="true"
                           [items]="disciplines"
                           (data)="onRefreshValue($event)"
                           [multiple]="true"
                           [active]="value"
                           required="required">
                </ng-select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-secondary" (click)="onAddDisciplines()"> Adicionar</button>
            </div>
        </div>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Disciplinas do Curso
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <ngx-datatable
                [rows]="course.disciplines"
                [messages]="{emptyMessage:'Não há registros para exibição', totalMessage: 'total'}"
                [sortType]="'multi'"
                [limit]="10"
                [columnMode]="'force'"
                [headerHeight]="50"
                [rowHeight]="60"
                [footerHeight]="50">

            <ngx-datatable-column name="Nome">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ações">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="btn-group">
                        <button routerLink="view/{{row.id}}" class="btn btn-default">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button routerLink="update/{{row.id}}" class="btn btn-default">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button (click)="onRemoveDiscipline(row)" class="btn btn-default">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>