<div class="btn-group">
    <button type="button" class="btn btn-secondary" routerLink="/practices">Práticas</button>
    <button class="btn btn-secondary" routerLink="/practices/update/{{practice.id}}"> Editar</button>
    <button class="btn btn-secondary" (click)="onDeletePractice()"> Apagar</button>
</div>

<br><br>

<div class="x_panel">
    <div class="x_title">
        <h2 class="text-secondary">
            Detalhes da Prática
        </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Estudante: </p>
                <h4>{{practice.student.name}}</h4>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Disciplina: </p>
                <h4>{{practice.discipline.name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-secondary">Local: </p>
                <p>{{practice.local}}</p>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Início em: </p>
                <p>{{practice.started_at | date}}</p>
            </div>
            <div class="col-md-4">
                <p class="text-secondary">Término em: </p>
                <p>{{practice.ended_at | date}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">Disciplina: </p>
                <p>{{practice.activity}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">Observações: </p>
                <p>{{practice.observation}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">Horários: </p>
                <p>{{practice.schedule}}</p>
            </div>
        </div>
    </div>
</div>