<div [ngClass]="{'container body': isLogged}">
    <div [ngClass]="{'main_container': isLogged}">
        <div *ngIf="isLogged" class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a routerLink="/home" class="site_title">
                        <span> <img src='assets/images/logo.png' alt="logo"></span>
                    </a>
                </div>
                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic"><img src="{{imageHelper.getImage(user.upload)}}" alt="..."
                                                  class="img-circle profile_img"></div>
                    <div class="profile_info">
                        <span>Bem vindo,</span>
                        <h2>{{(user) ? user.first_name : ""}}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li routerLinkActive="current-page">
                                <a [routerLink]="['/home']">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                            </li>
                            <li routerLinkActive="current-page">
                                <a [routerLink]="['/users']">
                                    <i class="fa fa-users"></i>
                                    Usuários
                                </a>
                            </li>
                            <li routerLinkActive="current-page">
                                <a [routerLink]="['/courses']">
                                    <i class="fa fa-users"></i>
                                    Cursos
                                </a>
                            </li>
                            <li routerLinkActive="current-page">
                                <a [routerLink]="['/disciplines']">
                                    <i class="fa fa-users"></i>
                                    Disciplinas
                                </a>
                            </li>
                            <li routerLinkActive="current-page">
                                <a [routerLink]="['/students']">
                                    <i class="fa fa-users"></i>
                                    Estudantes
                                </a>
                            </li>
                            <li routerLinkActive="current-page">
                                <a [routerLink]="['/practices']">
                                    <i class="fa fa-users"></i>
                                    Práticas
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div *ngIf="isLogged" class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false"><img src="{{imageHelper.getImage(user.upload)}}" alt="">
                                {{(user) ? user.name : ""}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li>
                                    <a href="javascript:;" (click)="logout()">
                                        <i class="fa fa-sign-out pull-right"></i>
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div [ngClass]="{'right_col': isLogged}" role="main">
            <router-outlet></router-outlet>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer *ngIf="isLogged">
            <div class="pull-right">Controle de Estágio</div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<div [style.display]="objLoaderStatus" class="loading">
    <i class="fa fa-spin fa-circle-o-notch fa-5x"></i>
</div>