<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <img src='assets/images/logo.png' alt="logo">

            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div>
                    <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email"
                           required=""/>
                </div>
                <div>
                    <input type="password" name="password" formControlName="password" class="form-control"
                           placeholder="Senha" required=""/>
                </div>
                <div>
                    <input class="btn btn-danger btn-block" type="submit" value="ACESSAR SISTEMA"
                           [disabled]="loginForm.invalid">
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <div>
                        <p>©2017 | Controle de Estágio </p>
                    </div>
                </div>
            </form>
        </section>
    </div>